ansible==5.0.1
ansible-core==2.12.1
ansible-lint==4.2.0
apache-libcloud==2.8.0
apturl==0.5.2
argcomplete==1.8.1
arrow==1.2.2
asgiref==3.5.0
asn1crypto==0.24.0
attrs==19.3.0
Automat==0.8.0
awscli==1.22.24
backports.entry-points-selectable==1.1.1
backports.zoneinfo==0.2.1
bcrypt==3.2.0
binaryornot==0.4.4
blinker==1.4
botocore==1.23.24
Brlapi==0.7.0
certifi==2019.11.28
cffi==1.15.0
cfgv==3.3.1
chardet==3.0.4
charset-normalizer==2.0.12
Click==7.0
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cookiecutter==1.7.3
cryptography==2.8
cupshelpers==1.0
dbus-python==1.2.16
defer==1.0.6
distlib==0.3.4
distro==1.6.0
distro-info===0.23ubuntu1
Django==3.0
django-browser-reload==1.3.0
django-tailwind==3.1.1
django-widget-tweaks==1.4.12
dnspython==1.16.0
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
entrypoints==0.3
filelock==3.4.0
httplib2==0.14.0
hyperlink==19.0.0
identify==2.4.0
idna==2.8
incremental==16.10.1
Jinja2==3.0.3
jinja2-time==0.2.0
jmespath==0.10.0
jsonschema==3.2.0
keyring==18.0.1
keyrings.alt==3.4.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lockfile==0.12.2
louis==3.12.0
MarkupSafe==2.0.1
netaddr==0.7.19
netifaces==0.10.4
nodeenv==1.6.0
ntlm-auth==1.1.0
oauthlib==3.1.0
olefile==0.46
packaging==21.3
PAM==0.4.2
paramiko==2.8.1
pexpect==4.6.0
Pillow==7.0.0
platformdirs==2.4.0
poyo==0.5.0
pre-commit==2.16.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycparser==2.21
pycrypto==2.6.1
pycups==1.9.73
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pykerberos==1.1.14
PyNaCl==1.4.0
pyOpenSSL==19.0.0
pyparsing==3.0.6
pyrsistent==0.18.0
pyserial==3.4
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-dotenv==0.19.2
python-slugify==6.1.1
pytz==2019.3
pywinrm==0.3.0
pyxdg==0.26
PyYAML==5.3.1
reportlab==3.5.34
requests==2.27.1
requests-kerberos==0.12.0
requests-ntlm==1.1.0
requests-unixsocket==0.2.0
resolvelib==0.5.4
rsa==4.7.2
ruamel.yaml==0.15.89
s3transfer==0.5.0
SecretStorage==2.3.1
selinux==3.0
service-identity==18.1.0
simplejson==3.16.0
six==1.14.0
sos==4.2
sqlparse==0.2.4
systemd-python==234
text-unidecode==1.3
texttable==1.6.4
toml==0.10.2
Twisted==18.9.0
ubuntu-advantage-tools==27.6
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
virtualenv==20.10.0
wadllib==1.3.3
websocket-client==0.59.0
xkit==0.0.0
xmltodict==0.12.0
zope.interface==4.7.1
