{% load static %}
{% block content %}

<div class="mt-5 px-5">
	<span class="text-lg font-extrabold ">Ma feuille de compte</span>
</div>

<div class="mx-20 flex flex-row mt-10 border-t-2 border-b-2 py-10">
    <div class="w-2/4 flex flex-col text-center">
        <p class="text-lg text-gray-600 font-bold">Argent reçu mensuel</p>
        <label class="text-md font-medium">2876€</label>
    </div>
    <div class="w-2/4 flex flex-col text-center">
        <p class="text-lg text-gray-600 font-bold">Argent retiré mensuel</p>
        <label class="text-md font-medium">286€</label>
    </div>
</div>

{% include "historique.html" %}

{% endblock %}
