{% extends "base.html" %} {% block content %} {% load static %}
<div class="px-4 grid lg:grid-cols-2 gap-1 md:gap-5 pt-5 pb-5 h-full md:grid-cols-2 sm:grid-cols-1">
	<div class="mx-auto w-full bg-white rounded-lg border border-gray-200 shadow-lg dark:bg-gray-800 dark:border-gray-700 no-scrollbar hidden md:block sm:hidden">{% include "portefeuille/wallet.html" %}</div>
	<div class="mx-auto w-full bg-white rounded-lg border border-gray-200 shadow-lg dark:bg-gray-800 dark:border-gray-700">{% include "portefeuille/detailTransaction.html" %}</div>
</div>

{% endblock content %}
