{% extends "base.html" %} {% block content %} {% load static %}
<div class="px-4 grid lg:grid-cols-2 gap-1 md:grid-cols-1 md:gap-5 pt-5 pb-5 h-full">
	<div class="mx-auto w-full bg-white rounded-lg border border-gray-200 shadow-lg dark:bg-gray-800 dark:border-gray-700 no-scrollbar ">{% include "portefeuille/wallet.html" %}</div>
	<div class="mx-auto w-full bg-white rounded-lg border border-gray-200 shadow-lg dark:bg-gray-800 dark:border-gray-700 block md:mt-5 sm:mt-5">{% include "portefeuille/detailTransaction.html" %}</div>
</div>

{% endblock content %}
