{% extends "base.html" %}

{% block title %}Connexion
{% endblock %}
{% block meta %}
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<meta name="description" content="Connectez vous à WalletPy">
{% endblock %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}

	<div style="background-color: #f3f3f3" class="h-screen min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
		<div class="max-w-md w-full space-y-8">
			<div>
				<img class="mx-auto h-12 w-auto" src="{% static 'allLogo.png' %}" alt="My image"/>
				<h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
					{% translate "Connectez-vous" %}
				</h2>
			</div>
			<form class="mt-8 space-y-6" action="{% url 'login' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="remember" value="true"/>
				<div class="rounded-md -space-y-px">
					<div class="py-2">
						<label for="email-address" class="sr-only">{{ form.username.label_tag }}</label>
						{{ form.username|attr:"placeholder:Adresse email"|add_class:"appearance-none rounded-none relative block w-full px-3 py-2 shadow-lg placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" }}
					</div>
					<div class="py-2">
						<label for="password" class="sr-only">{{ form.password.label_tag }}</label>
						{{ form.password|attr:"placeholder:Mot de passe"|add_class:"appearance-none rounded-none relative block w-full px-3 py-2 shadow-lg placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" }}
					</div>
				</div>

				<div class="flex items-center justify-between">
					<div
						class="flex items-center">
						{# Assumes you set up the password_reset view in your URLconf #}
						<a href="{% url 'password_reset' %}" class="font-medium text-indigo-600 hover:text-indigo-500">
							{% translate "Mot de passe oublié ?" %}
						</a>
					</div>

					<div>
						<a href="{% url 'register' %}" class="font-medium text-indigo-600 hover:text-indigo-500">
							{% translate "Pas de compte ?" %}
						</a>
					</div>
				</div>

				<div>
					<button value="login" type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
						{% translate "Se connecter" %}
					</button>
				</div>
				{% if form.errors %}
					<div id="alert-message" onclick="hideMessage()" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
						<span class="block sm:inline">{% blocktranslate %}Votre email ou votre mot de passe est incorrect. Veuillez Réessayer{% endblocktranslate %}</span>
						<span class="absolute top-0 bottom-0 right-0 px-4 py-3">
							<svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20">
								<title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
						</span>
					</div>
				{% endif %}
				{% if next %}
					{% if user.is_authenticated %}
						<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
							<span class="block sm:inline">
								Your account doesn't have access to this page. To proceed, please login with
																                an account that has access.</span>
							<span class="absolute top-0 bottom-0 right-0 px-4 py-3">
								<svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20">
									<title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
							</span>
						</div>
					{% else %}
						<p>Please login to see this page.</p>
					{% endif %}
				{% endif %}
				<input type="hidden" name="next" value="{{ next }}"/>
			</form>
		</div>
	</div>

	<script>
		function hideMessage(e) {
document.getElementById('alert-message').remove()
}
	</script>
{% endblock %}
