{% extends "base.html" %} {% load static %} {% load widget_tweaks %} {% block content %}

<!--Register-->

<div class="h-screen min-h-full flex items-center justify-center py-12  bg-gradient-to-br from-yellow-100 via-white to-yellow-100  px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto" src="{% static 'allLogo.png' %}" alt="My image"/>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Commencez à profitez de WalletPY</h2>
    </div>
    <form class="mt-8 space-y-6" action="#" method="POST">
      {% csrf_token %} 
      <div class="rounded-md -space-y-px">
        <div class="py-4">
          {{ register_form.username|attr:"placeholder:Nom d'utilisateur"|add_class:"appearance-none relative block w-full px-3 py-2 shadow-lg placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" }}
        </div>
        <div class="py-4">
          {{ register_form.email|attr:"placeholder:Email"|add_class:"appearance-none rounded-none relative block w-full px-3 py-2 shadow-lg placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" }}
        </div>
        <div class="py-4">
          {{ register_form.password1|attr:"placeholder:Mot de passe"|add_class:"appearance-none rounded-none relative block w-full px-3 py-2 shadow-lg placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" }}
        </div>
        <div class="py-4">
          {{ register_form.password2|attr:"placeholder:Confirmez le mot de passe"|add_class:"appearance-none rounded-none relative block w-full px-3 py-2 shadow-lg placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" }}
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="text-sm">
          <a href="{% url 'login'%}" class="font-medium text-indigo-600 hover:text-indigo-500">Déjà un compte ?</a>
        </div>
      </div>

      <div>
        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          C'est parti 🔥
        </button>
      </div>
    </form>

    {% if register_form.errors %}
        <div id="alert-message" onclick="hideMessage()"  class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <span class="block sm:inline">{{ register_form.errors }}</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
            </span>
        </div>
    {% endif %}
  </div>
</div>
<script>
  function hideMessage(e)
  {
      document.getElementById('alert-message').remove()
  }
</script>
{% endblock %}
