{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Tableau de bord WalletPY{% endblock %}
{% block meta %}
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<meta name="description" content="Le tableau d'accueil de WalletPy. Vous y retrouverez vos cryptos favorites, une partie de votre historique de transaction, une partie de ton wallet et pour finir une partie pour pouvoir réaliser une transaction vers un wallet.">
{% endblock %}

{% block content %}

<!-- Un header qui s'affiche quand Metamask n'est pas installé sur le navigateur de l'utilisateur -->
<div data-aos="zoom-in-up" id="bannerToDLMetamask" class="hidden bg-red-400">
	<div class="max-w-7xl mx-auto py-1 px-1 sm:px-2 lg:px-4">
		<div class="flex items-center justify-between flex-wrap">
			<div class="w-0 flex-1 flex items-center">
					<span	class="flex p-2 rounded-lg bg-indigo-800">
						<svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z"/>
						</svg>
					</span>
				<p class="ml-3 font-medium text-white truncate">
					<span class="md:hidden">{% translate "Télécharger Metamask ... " %}</span>
					<span class="hidden md:inline">{% translate "Pour votre information, le téléchargement de metamask est nécessaire. " %}</span>
				</p>
			</div>
			<div class="order-3 mt-2 flex-shrink-0 w-full sm:order-2 sm:mt-0 sm:w-auto">
				<a target="_blank"
				   href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=fr"
				   class="flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-indigo-600 bg-white hover:bg-indigo-50">
					Extension Metamask
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Les components de la page dashboard -->
<div class="px-4 grid lg:grid-cols-3 gap-1 md:gap-5 pt-5 pb-5 h-full md:grid-cols-2 sm:grid-cols-1">
	<div data-aos="fade-right" data-aos-duration="1000" class="overflow-y-auto no-scrollbar h-full hidden md:block sm:hidden">
		{% include "dashboard/informModule.html"%}
	</div>
	<div data-aos="zoom-in-up" data-aos-duration="1000" class="mx-auto w-full bg-white rounded-lg border border-gray-200 shadow-lg dark:bg-gray-800 dark:border-gray-700">
		{% include "dashboard/dashboard.html" %}
	</div>
	<div data-aos="fade-left" data-aos-duration="1000" class="sm:hidden hidden md:hidden lg:block">
		{% include "dashboard/transaction.html" %}
	</div>
</div>
<script>

	const metamaskConnectButton = document.getElementById('enableEthereumButton');
	const transactionETH = document.querySelector('#sendEth');
	const web3 = new Web3(new Web3.providers.HttpProvider("https://mainnet.infura.io/v3/56a0386767d54d6a8e04f9c7a6c56fda"));
	
	/*
	* Vérification de la présence de metamask
	* */
	const isMetaMaskInstalled = () => {
		return Boolean(window.ethereum && window.ethereum.isMetaMask);
	}
	const isMetaMaskConnected = async () => {
		const {ethereum} = window;
		const accounts = await ethereum.request({method: 'eth_accounts'});
		return accounts && accounts.length > 0;
	}
	const getAccounts = async () => {
		return await ethereum.request({method: 'eth_accounts'});
	}
	
	// Listener qui écoute si l'utilisateur change de compte metamask ou se deconnecte (lance init())
	if (window?.ethereum?.on) {
		window.ethereum.on('accountsChanged', async () => {
			init();
		});
	} else {
		document.getElementById('navbar_icones_wallet').classList.add('hidden')
		document.getElementById('isNotConnectedForAsset').classList.remove("hidden")
		document.getElementById('notConnected').classList.remove('hidden')
		document.getElementById('bannerToDLMetamask').classList.remove("hidden")
		document.getElementById('isConnectedForTransaction').classList.add('hidden');
		document.getElementById('connectedMetamask').classList.add('hidden');
		document.getElementById('enableEthereumButton').classList.remove('hidden');
	}

	/*
	* Récupération de la balance d'un wallet
	* */
	const getBalance = async (account) => {
		localStorage.setItem('amountAccount', web3.utils.fromWei(await web3.eth.getBalance(account), 'ether'))
		const requestETH = await fetch('https://api.coingecko.com/api/v3/simple/price?ids=ethereum&vs_currencies={{ user.preferred_currency.short_name }}')
		actualPriceETH = await requestETH.json()
		document.getElementById('totalAmount').innerHTML = `${Math.round(localStorage.getItem('amountAccount') * actualPriceETH.ethereum["{{ user.preferred_currency.short_name }}"] * 100) / 100} {{user.preferred_currency.symbol}}`}
	
	/*
	* Fonction de lancement de l'application
	* */
	const init = async () => {
		if (await isMetaMaskConnected()) {
			document.getElementById('navbar_icones_wallet').classList.remove('hidden')
			document.getElementById('loader').classList.remove("hidden")
			document.getElementById('isConnectedForAsset').classList.remove("hidden")
			document.getElementById('enableEthereumButton').classList.add('hidden');
			document.getElementById('isConnectedForTransaction').classList.remove('hidden');
			document.getElementById('notConnected').classList.add('hidden')
			let transactionsLI = document.getElementsByClassName('transaction')
			if (transactionsLI.length > 0) {
				for (let transaction of transactionsLI) {
					transaction.remove();
				}
			}
			/*
			* Récupération des informations de l'address d'un wallet
			* */
			getAccounts().then(async (res) => {
				localStorage.setItem('address', res);
				document.getElementById('myAddress').innerText = res
				await getBalance(res[0])
				// displayHistory().finally(() => {
				// 	document.getElementById('buttonBounce').classList.remove("hidden")
				// 	document.getElementById('loader').classList.add("hidden")
				//
				// })
			});
		} else {
			document.getElementById('navbar_icones_wallet').classList.add('hidden')
			localStorage?.removeItem('address');
			localStorage?.removeItem('amountAccount')
			document.getElementById('isNotConnectedForAsset').classList.remove("hidden")
			document.getElementById('notConnected').classList.remove('hidden')
			document.getElementById('isConnectedForTransaction').classList.add('hidden');
			document.getElementById('connectedMetamask').classList.add('hidden');
			document.getElementById('enableEthereumButton').classList.remove('hidden');
		}
	}
	//Lancement de l'application
	init()
	// get name of contract https://api.etherscan.io/api?module=contract&action=getsourcecode&address=0xE66b3AA360bB78468c00Bebe163630269DB3324F&apikey=GNFG1NWHVNRTIKARX5MPFEB581CPIDBQZV
	// get all transaction for an adresse https://api.etherscan.io/api?module=account&action=txlist&address=0x959C8D7331883cB49ba9719760621449b41712C7&startblock=0&endblock=99999999&offset=10&sort=asc&apikey=GNFG1NWHVNRTIKARX5MPFEB581CPIDBQZV
	metamaskConnectButton.addEventListener('click', () => {
		if (isMetaMaskInstalled()) {
			ethereum.request({method: 'eth_requestAccounts'}).then(async () => {
				document.getElementById('enableEthereumButton').classList.add('hidden');
				document.getElementById('isNotConnectedForAsset').classList.add("hidden");
				document.getElementById('connectedMetamask').classList.remove('hidden');
				document.getElementById('myAddress').innerText = localStorage.getItem('address');
				displayHistory()
			}).catch((err) => {
				console.log("Erreur", err)
			});
		} else {
			localStorage.setItem("metaConnected", false);
			alert("Install Metamask")
		}
	});

	/*
	*  Evènement click pour réaliser une transaction entre deux wallets.
	*/
	transactionETH.addEventListener('click', async () => {
		if (this.localStorage.getItem('address') && document.getElementById('addressTo')?.value && document.getElementById('amount')?.value) {
			const gasPrice = await web3.eth.getGasPrice();
			// Transformation de la value en nombre lisable
			let valueWei = web3.utils.toWei(document.getElementById('amount')?.value)
			ethereum.request({
				method: 'eth_sendTransaction',
				params: [
					{
						from: this.localStorage.getItem('address'),
						to: document.getElementById('addressTo')?.value,
						value: web3.utils.toHex(valueWei),
						gasPrice: gasPrice,
						gas: '0x2710'
					},
				]
			}).then((txHash) => console.log(txHash)).catch((error) => alert(JSON.stringify(error.message)));
		} else {
			alert('Il manque des paramètres !!')
		}
	})
</script>
{% endblock content %}
