{% load static %}
{% block content %}

<!-- error with selected dates  -->
{% if wrong_input %}
<div class="alert alert-warning" role="alert">
	{{wrong_input}}
</div>
{% endif %}

<!-- Filter the chart with the selected dates -->
{% for date,price in price.items %}
<span class="date-item hidden">{{date}} </span>
<span class="price-item hidden">{{price}}</span>
{% endfor %}

<div class="mx-auto max-w-xl bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 ">
	<canvas id="btcChart" class="w-80"></canvas>
	<form id="myForm" action="" method='POST'>
		{% csrf_token %}
		{{search_form}}
		<div class="">
			<button type="submit" class="btn btn-primary mt-3"> Render</button>
		</div>
	</form>
</div>
<script src="/static/js/chart.js"></script>

{% endblock content %}
