{% load static %}
{% block content %}

<!-- error with selected dates  -->
{% if wrong_input %}
<div class="alert alert-warning" role="alert">
	{{wrong_input}}
</div>
{% endif %}

<!-- Filter the chart with the selected dates -->
{% for date,price in price.items %}
<span class="date-item hidden">{{date}} </span>
<span class="price-item hidden">{{price}}</span>
{% endfor %}

<div class="">
	<div class="py-4 px-8">
		<p class="font-bold antialiased text-xl">Total montant</p>
		<p class="text-lg">5673 €</p>
	</div>
	<canvas id="btcChart" class="w-80"></canvas>
	<form id="myForm" action="" method='POST'>
		{% csrf_token %}
		{{search_form}}
		<div class="">
			<button type="submit" class="btn btn-primary pt-3"> Render</button>
		</div>
	</form>
	<div class="py-4 px-8">
		<p class="font-bold antialiased text-xl">Mon portefeuille</p>
	</div>
	
</div>
<script src="/static/js/chart.js"></script>

{% endblock content %}
