{% extends "base.html" %} {% block content %}

  <div class="flex items-center justify-center min-h-screen bg-white py-48">
    <div class="flex flex-col">
      <div class="flex flex-col items-center">
        <div class="text-indigo-600 font-bold text-7xl">404</div>
        <div class="font-bold text-3xl xl:text-7xl lg:text-6xl md:text-5xl mt-5">Cette page n’existe pas</div>
        <div class="text-gray-400 font-medium text-sm md:text-xl lg:text-2xl mt-8">La page que vous recherchez est introuvable.</div>
        <a href="http://127.0.0.1:8000/" class="text-indigo-600 text-2xl hover:text-blue-700 transition duration-300 ease-in-out mt-8">Accueil &#x2794;</a>
      </div>
    </div>
  </div>

{% endblock %}