{% extends "base.html" %} {% block content %} {% load static %}

<div class="leading-normal tracking-normal text-indigo-400 bg-cover bg-fixed" style="background-color: #e4e4e4">
	<div class="h-screen">
		<!--Nav-->
		<div class="w-full container mx-auto">
			<div class="w-full flex items-center justify-between">
				<img class="img-responsive mt-4" src="{% static 'wPY_logo.png' %}"/>
			</div>
		</div>
		
		<!--Main-->
		<div class="container pt-24 md:pt-24 mx-auto flex flex-wrap flex-col md:flex-row items-center">
			<!--Left Col-->
			<div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start">
				<h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left">
					<span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-400 via-blue-700 to-blue-900">
              Prêt à faire travailler votre argent ?
            </span>
				</h1>
				<p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left">
					Investir c'est pensé à son futur !
				</p>
				<div class="flex items-center justify-between space-x-60 pt-4">
					<button
							class="shadow-xl uppercase bg-gradient-to-r from-blue-700 to-blue-900 text-white font-bold py-3 px-6 rounded-lg focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
					>
						Se connecter
					</button>
					<button
							class="text-black uppercase font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
							type="button"
					>
						Créer un compte
					</button>
				</div>
			</div>
			
			<!--Right Col-->
			<div class="w-full xl:w-3/5 p-12 overflow-hidden">
				<img class="mx-auto w-2/6 md:w-6/12 transform -rotate-6 transition hover:scale-105 duration-700 ease-in-out hover:rotate-6" src="{% static 'handMoney.png' %}" alt="money" />
			</div>
			
			<!--Footer-->
			<div class="pt-16 pb-6 text-sm text-center md:text-left fade-in">
				<a class="text-gray-500 no-underline hover:no-underline" href="#">&copy; WalletPY App 2022</a>
				- Made by students
				<a class="text-gray-500 no-underline hover:no-underline">for fullstack class</a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
